<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Order Details</h2>
        </div>
    </div>



    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block margin-bottom-sm">
                        <div class="title"><strong>Create A New Coupon</strong></div>
                        <form action="/admin/create-coupon" method="POST">
                        <div class="row">

                            <div class="col-lg-4">
                                <input class="form-control" type="text" name="couponCode" id="" placeholder="Enter Coupon Code" required >
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" name="couponValue" type="text" name="" id="" placeholder="Enter Discount Percentage" required >
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-danger btn-block">Create Coupon</button>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="block margin-bottom-sm">
                        <div class="title"><strong>All Coupons</strong></div>
                        <table class="table">

                            <thead class="thead-dark">
                                <tr>
                                    <th>Coupon Name</th>
                                    <th>Discount Percentage</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each coupons}} 
                                <tr>
                                    <th>{{couponCode}}</th>
                                    <th>{{couponValue}}%</th>
                                    <th>
                                        <form action="/admin/coupon-delete?_method=DELETE" method="POST">
                                            <input type="hidden" value="{{_id}}" name="couponID" id="">
                                            <button class="btn btn-danger"> <i class="fa fa-trash"></i> </button>
                                        </form>
                                    </th>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>