<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>welcome -- Smart Care Nutrition</title>


  <!-- Author Meta -->
  <meta name="author" content="Shamim Ferdous | A Binary Poets Production">
  <!-- Meta Description -->
  <meta name="description"
    content="ALIMENTA TUS OBJECTIVOS - SCN is a project that was born so that those training centers that have a demand for supplementation can offer a one hundred percent pure and quality product, without worrying that online sales will harm them.">
  <!-- Meta Keyword -->
  <meta name="keywords"
    content="Smart Care Nutrition, Alpha Food, Alpha Whey, Alpha Crea, Alpha Push, Alpha Amino">
  <!-- meta character set -->
  <meta property="og:image"
    content="/img/HERO.jpg">
  <meta property="og:description"
    content="ALIMENTA TUS OBJECTIVOS - SCN is a project that was born so that those training centers that have a demand for supplementation can offer a one hundred percent pure and quality product, without worrying that online sales will harm them.">
  <meta property="og:title" content="welcome -- Smart Care Nutrition">


  <link rel="stylesheet" href="/css/style.css">
  <link rel='icon' href='/img/favicon.png' type='image/x-icon'>
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>




  {{> home/home-nav}}


  {{{body}}}


  {{> home/footer}}




  <script src="/js/main.js"></script>
</body>

</html>