
<!-- Flash Message - Post Create Success -->
{{#if success_message}}
    
    <div class="alert alert-success">

    {{success_message}}
    
    </div>

{{/if}}


{{#if error_message}}
    
    <div class="error-message">

    {{error_message}}
    
    </div>

{{/if}}



