
    <!-- Product Page Header -->
    <div class="product-header__title-box">
        <h1 class="product-header__title-box--title">Alpha Crea</h1>
        <!-- <h2 class="product-header__title-box--subtitle">- CHOCOLATE o VAINILLA -</h2> -->
    </div>


    <header class="product-header-crea">

        <div class="tags__container">
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">NON</span>
                <span class="tags__container__box--span-2">GMO</span>
            </div>

      
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">FREE</span>
                <span class="tags__container__box--span-2">GLUTEN</span>
            </div>
 
        
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">GREEN</span>
                <span class="tags__container__box--span-2">PRODUCT</span>
            </div>


            <div class="tags__container__box">
                <span class="tags__container__box--span-1">HIGH</span>
                <span class="tags__container__box--span-2">QUALITY</span>
            </div>
        </div>
    </header>

    <!-- Product Purchase Buttons -->
    <div class="product-button-container">
        <a class="purchase-block-button-2" href="/checkout-quantity/Alpha Crea">
            <svg class="purchase-block-button--icon" xmlns="http://www.w3.org/2000/svg" width="14.4" height="12" viewBox="0 0 14.4 12" fill="currentColor" class="box__Box-sc-5533u7-0 ePsqZc"><g data-name="Group 120" transform="translate(-288 -413.89)"><path data-name="Path 154" fill="currentColor" d="M298.7,418.289l-2.906-4.148a.835.835,0,0,0-.528-.251.607.607,0,0,0-.529.251l-2.905,4.148h-3.17a.609.609,0,0,0-.661.625v.191l1.651,5.84a1.336,1.336,0,0,0,1.255.945h8.588a1.261,1.261,0,0,0,1.254-.945l1.651-5.84v-.191a.609.609,0,0,0-.661-.625Zm-5.419,0,1.984-2.767,1.98,2.767Zm1.984,5.024a1.258,1.258,0,1,1,1.319-1.258,1.3,1.3,0,0,1-1.319,1.258Zm0,0"></path></g></svg>
            Comprar Alpha Crea - PVP: 15€ 
        </a>
    </div>


    <!-- Product Feature Section -->
    <div class="product-features">
        <div class="product-features__wrap">
            <div class="product-features__box">
                <h3 class="product-features__box--label">NUESTRO PRODUCTO</h3>
                <p class="product-features__box--text">Eleva los niveles de fosfocreatina, la reserva inmediata durante los esfuerzoos físicos, retrasando la aparición de fatiga.</p>
            </div>
    
            <div class="product-features__box">
                <h3 class="product-features__box--label">EL MEJOR MOMENTO</h3>
                <p class="product-features__box--text">No encuentro info</p>
            </div>
    
            <div class="product-features__box">
                <h3 class="product-features__box--label">NUESTRA VENTAJA</h3>
                <p class="product-features__box--text">Incremena tu fuerza y resistencia. Aumenta la producción de potencia y la capacidad de trabajo.</p>
            </div>
        </div>
    </div>

    <div class="table-section-1">
        <div class="product-table-small">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>INGREDIENTES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creatinina Creapure®
                            Marca patentada con un 99,95% de creatina monohidrato de alta calidad y seguridad cuyas formas de control corresponden a las que rigen el sector farmaceútico.</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ALÉRGENOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Puede contener trazas de gluten, huevo, leche, soja, sulfitos, pescado, moluscos y crustáceos.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-text-box-container">
            <div class="product-text-box">
                <h2 class="product-text-box--big">PRESENTACIÓN</h2>
                <h3 class="product-text-box--small">Sobres de 250g con sabor neutro.</h3>
            </div>

            <div class="product-text-box">
              <h2 class="product-text-box--big">MODO DE EMPLEO</h2>
              <h3 class="product-text-box--small">Tomar 3g mezclados con 200-250 ml de agua o zumo.</h3>
          </div>

          <div class="product-text-box">
            <h2 class="product-text-box--big">DDR</h2>
            <h3 class="product-text-box--small">Dosis Diaria Recomendada: 3 gramos.</h3>
        </div>
        </div>
    </div>


    <!-- Section 2 -->
    <!-- <div class="table-section-1">
        <div class="product-table-large">
            <table class="table">
                <thead>
                    <tr>
                        <th>INFORMACIÓN NUTRICIONAL</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="twin"> <span class="align-left"></span> <span class="align-left">1 Cápsula</span> <span class="align-left">100g de producto</span> </td>
                    <td class="twin"> <span class="align-left">Valor energético</span> <span class="align-left">0,35 kcal (1,45 kJ)</span> <span class="align-left">112,04 kcal (468,33 kJ)</span> </td>
                    <td class="twin"> <span class="align-left">Grasas</span> <span class="align-left">0,005 g</span> <span class="align-left">1,72 g</span> </td> 
                    <td class="twin"> <span class="align-left">De las cuales saturadas</span> <span class="align-left">0,005 g</span> <span class="align-left">1,72 g</span> </td>
                    <td class="twin"> <span class="align-left">Carbohidratos</span> <span class="align-left">0,000 g</span> <span class="align-left">0,00 g</span> </td>
                    <td class="twin"> <span class="align-left">De los cuales azúcares</span> <span class="align-left">0,000 g</span> <span class="align-left">0,00 g</span> </td>
                    <td class="twin"> <span class="align-left">Proteínas</span> <span class="align-left">0,000 g</span> <span class="align-left">0,00 g</span> </td> 
                    <td class="twin"> <span class="align-left">Sal*</span> <span class="align-left">0,000 g</span> <span class="align-left">0,00 g</span> </td> 
                    <td class="twin"> <span class="align-left">Fibra alimentaria</span> <span class="align-left">0,150 g</span> <span class="align-left">48,28 g</span> </td>
                    <td class="twin"> <span class="align-left">Cafeína Anhidra</span> <span class="align-left">200 mg</span> <span class="align-left"></span> </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div> -->
