
    <!-- Product Page Header -->
    <div class="product-header__title-box">
        <h1 class="product-header__title-box--title">Alpha Whey</h1>
        <h2 class="product-header__title-box--subtitle">- CHOCOLATE o VAINILLA -</h2>
    </div>


    <header class="product-header">

        <div class="tags__container">
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">NON</span>
                <span class="tags__container__box--span-2">GMO</span>
            </div>

      
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">FREE</span>
                <span class="tags__container__box--span-2">GLUTEN</span>
            </div>
 
        
            <div class="tags__container__box">
                <span class="tags__container__box--span-1">GREEN</span>
                <span class="tags__container__box--span-2">PRODUCT</span>
            </div>


            <div class="tags__container__box">
                <span class="tags__container__box--span-1">HIGH</span>
                <span class="tags__container__box--span-2">QUALITY</span>
            </div>
        </div>
    </header>

    <!-- Product Purchase Buttons -->
    <section id="whey-buttons">
    <div class="product-button-container">
        <a class="purchase-block-button" href="/checkout-quantity/Alpha Whey - Sabor Chocolate">
            <svg class="purchase-block-button--icon" xmlns="http://www.w3.org/2000/svg" width="14.4" height="12" viewBox="0 0 14.4 12" fill="currentColor" class="box__Box-sc-5533u7-0 ePsqZc"><g data-name="Group 120" transform="translate(-288 -413.89)"><path data-name="Path 154" fill="currentColor" d="M298.7,418.289l-2.906-4.148a.835.835,0,0,0-.528-.251.607.607,0,0,0-.529.251l-2.905,4.148h-3.17a.609.609,0,0,0-.661.625v.191l1.651,5.84a1.336,1.336,0,0,0,1.255.945h8.588a1.261,1.261,0,0,0,1.254-.945l1.651-5.84v-.191a.609.609,0,0,0-.661-.625Zm-5.419,0,1.984-2.767,1.98,2.767Zm1.984,5.024a1.258,1.258,0,1,1,1.319-1.258,1.3,1.3,0,0,1-1.319,1.258Zm0,0"></path></g></svg>
            Comprar Alpha Whey Sabor Chocolate - PVP: 49€ 
        </a>

        <a class="purchase-block-button" href="/checkout-quantity/Alpha Whey - Sabor Vanilla">
            <svg class="purchase-block-button--icon" xmlns="http://www.w3.org/2000/svg" width="14.4" height="12" viewBox="0 0 14.4 12" fill="currentColor" class="box__Box-sc-5533u7-0 ePsqZc"><g data-name="Group 120" transform="translate(-288 -413.89)"><path data-name="Path 154" fill="currentColor" d="M298.7,418.289l-2.906-4.148a.835.835,0,0,0-.528-.251.607.607,0,0,0-.529.251l-2.905,4.148h-3.17a.609.609,0,0,0-.661.625v.191l1.651,5.84a1.336,1.336,0,0,0,1.255.945h8.588a1.261,1.261,0,0,0,1.254-.945l1.651-5.84v-.191a.609.609,0,0,0-.661-.625Zm-5.419,0,1.984-2.767,1.98,2.767Zm1.984,5.024a1.258,1.258,0,1,1,1.319-1.258,1.3,1.3,0,0,1-1.319,1.258Zm0,0"></path></g></svg>
            Comprar Alpha Whey Sabor Vanilla - PVP: 49€ 
        </a>
    </div>
    </section>


    <!-- Product Feature Section -->
    <div class="product-features">
        <div class="product-features__wrap">
            <div class="product-features__box">
                <h3 class="product-features__box--label">NUESTRO PRODUCTO</h3>
                <p class="product-features__box--text">Proteína ideal para consumir tras el esfuerzo físico. 
                    Acelera la síntesis proteica y favorece el aumento de masa muscular.</p>
            </div>
    
            <div class="product-features__box">
                <h3 class="product-features__box--label">EL MEJOR MOMENTO</h3>
                <p class="product-features__box--text">Aprovecha la ventana anabólica tras el entrenamiento de fuerza o resistencia y gana masa muscular.</p>
            </div>
    
            <div class="product-features__box">
                <h3 class="product-features__box--label">NUESTRA VENTAJA</h3>
                <p class="product-features__box--text">Alta calidad y pureza, evitando que los residuos de proteínas de baja callidad comprometan tu metabolismo.</p>
            </div>
        </div>
    </div>

    <div class="table-section-1">
        <div class="product-table-small">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>INGREDIENTES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Concentrado de proteína de suero (leche) 80%, maltodextrina, aromas, canela en polvo, edulcorante (sucralosa) y complejo multienzimático Digenzyme (maltodextrina, amilasa, lipasa, lactasa, celulasa y proteasa).</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ALÉRGENOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Derivados de la leche y la soja. Puede contener trazas de gluten, huevo, sulfitos, pescado, moluscos y/o crustáceos.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-table-small">
            <table class="table">
                <thead>
                    <tr>
                        <th>INFORMACIÓN NUTRICIONAL</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="twin"> <span>Valor energético</span> <span>392,25 Kcal (1639,61 KJ)</span></td>
                    <td class="twin"> <span>Grasas</span> <span>4,85 g</span></td>
                    <td class="twin"> <span>De las cuales saturadas</span> <span>2,91 g</span></td>
                    <td class="twin"> <span>Carbohidratos</span> <span>11,15 g</span></td>
                    <td class="twin"> <span>De los cuales azúcares</span> <span>7,22 g</span></td>
                    <td class="twin"> <span>Proteínas</span> <span>76 g</span></td>
                    <td class="twin"> <span>Sal</span> <span>1,19 g</span></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>


    <!-- Section 2 -->
    <div class="table-section-1">
        <div class="product-table-small">
            <table class="table">
                <thead>
                    <tr>
                        <th>AMINOGRAMA</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="twin"> <span></span> <span>100g de producto</span></td>
                    <td class="twin"> <span>L-alanina</span> <span>3,64</span></td>
                    <td class="twin"> <span>L-arginina                         </span> <span>2,04</span></td>
                    <td class="twin"> <span>Ácido L-Aspártico                         </span> <span>8,12</span></td>
                    <td class="twin"> <span>Ácido L-Glutámico</span> <span>13,00</span></td>
                    <td class="twin"> <span>L-Cisteína</span> <span>1,82</span></td>
                    <td class="twin"> <span>L-Fenilalanina</span> <span>2,44</span></td>
                    <td class="twin"> <span>L-Glicina</span> <span>1,42</span></td>

                    <td class="twin"> <span>L-Histidina</span> <span>1,38</span></td>
                    <td class="twin"> <span>L-Isoleucina</span> <span>4,30</span></td>
                    <td class="twin"> <span>L-Leucina</span> <span>7,99</span></td>
                    <td class="twin"> <span>L-Lisina</span> <span>6,92</span></td>
                    <td class="twin"> <span>L-Metionina</span> <span>1,38</span></td>
                    <td class="twin"> <span>L-Prolina</span> <span>4,30</span></td>
                    <td class="twin"> <span>L-Serina</span> <span>4,04</span></td>
                    <td class="twin"> <span>L-Tirosina</span> <span>2,30</span></td>
                    <td class="twin"> <span>L-Treonina</span> <span>5,50</span></td>
                    <td class="twin"> <span>L-Triptófano</span> <span>1,06</span></td>
                    <td class="twin"> <span>L-Valina</span> <span>4,35</span></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="product-text-box-container">
            <div class="product-text-box">
                <h2 class="product-text-box--big">PRESENTACIÓN</h2>
                <h3 class="product-text-box--small">2.000 g de polvo sabor vainilla o chocolate.</h3>
            </div>

            <div class="product-text-box">
              <h2 class="product-text-box--big">MODO DE EMPLEO</h2>
              <h3 class="product-text-box--small">Tomar 50 g mezclados con 200-250ml de agua o leche desnatada.</h3>
          </div>
        </div>
    </div>