<!-- Checkout Quantity Section -->
<section style="padding: 20rem 10rem;" class="checkout-container">
    <div class="checkout-box">
        <h2 style="text-decoration: underline" class="checkout-h2">Politica De Cookies</h2>
        <p class="body-paragraph">La web de SmartCare utiliza cookies y píxeles de seguimiento para recopilar
            información
            que nos ayude a proporcionarle nuestro servicio. No utilizamos cookies ni otros
            mecanismos de seguimiento para servir publicidad segmentada.Si decide no aceptar
            nuestras cookies, podrá continuar utilizando nuestro sitio web de la forma habitual, aunque
            es posible que su experiencia como usuario se vea perjudicada.
        </p>

        <h2 class="body-title">1. ¿QUÉ SON LAS COOKIES?</h2>
        <p class="body-paragraph">Los cookies son pequeños grupos de datos que los sitios web que visita pueden guardar
            en su unidad de disco duro. Por lo general, incluyen un identificador único anónimo. Un
            archivo cookie no puede recuperar otros datos de su disco duro ni transmitir virus de
            ordenador.</p>

        <h2 class="body-title">2. ¿QUÉ COOKIES UTILIZA WEB SMARTCARE?</h2>
        <p class="body-paragraph">La plataforma de plapring establece solo algunos archivos cookies a fin de ayudar con
            funciones tales como la autenticación de usuarios, el seguimiento de las preferencias de
            los usuarios, el tamaño de audiencia y los patrones de tráfico. Los píxeles de seguimiento
            (pequeñas imágenes gráficas) pueden estar también incluidos en nuestros mensajes y
            boletines electrónicos. Sirven para determinar si se han abierto los mensajes y visitado los
            enlaces. Debido a nuestras integraciones con terceras partes, éstas también tienen la
            posibilidad de establecer cookies.
        </p>

        <h2 class="body-title">3. INFORMACIÓN Y CLASIFICACIÓN DE LAS
            COOKIES UTILIZADAS EN NUESTRO SITIO
            WEB
        </h2>
        <p class="body-paragraph">
            
            <p class="body-paragraph">A continuación le ofrecemos una lista de las categorías de cookies que se encuentran en
            nuestra página web, así como una descripción de lo que estos hacen. Le sugerimos que
            consulte esta lista de manera periódica, ya que actualizamos esta información con
            regularidad.</p>

            <p class="body-paragraph">Cookies funcionales</p>
            <p class="body-paragraph">Las cookies funcionales son las que la web de SmartCare establece para ayudar al sitio web
            a funcionar del modo esperado.
            Algunos archivos cookies son necesarios para permitirle navegar por nuestro sitio web y
            utilizar sus funciones. Sin estos archivos de cookies no podemos proporcionarle los servicios
            que requiere, como procesar un pedido o registrar un usuario.
            Utilizamos otros archivos de cookies para ayudar a reconocerlo y recordarlo cuando inicie
            sesión en la plataforma, de modo que podamos recordar su configuración y preferencias,
            así como su idioma y región o su estado de conexión. Estos archivos de cookies también
            pueden ayudarnos a proporcionarle los servicios que ha solicitado, consultar sus pedidos o
            realizar un comentario u opinión sobre un producto. Estos archivos no realizan el
            seguimiento de su actividad de navegación en sitios web que no sean de la web de
            SmartCare.</p>
            <p class="bp">Puede desactivar cualquiera de estas cookies funcionales como se describe a
            continuación; pero si lo hace, es posible que diferentes funciones del sitio web no estén
            disponibles o no funcionen del modo deseado.
            Frontend & frontend_cid: Permite al usuario visualizar la página e interactuar con ella.
            vis.opt.exp (Visual Optimizer): Permite el uso de tests A/B y la optimización de la página
            mediante el comportamiento del usuario en nuestra página web. Permite el uso de tests A/B
            y la optimización de la página mediante el comportamiento del usuario en nuestra página
            web.</p>
            <p class="bp">
                cookieAdvice: Nos permite preguntarte si podemos emplear cookies durante tu navegación
            en la página.
            </p>
            <p class="bp">Cookies de rendimiento</p>
            <p class="bp">Utilizamos una herramienta de Google llamada Google Analytics que nos ayuda a entender
            el modo en que los usuarios utilizan nuestro sitio web. Estos archivos cookies de Google
            Analytics no proporcionan a la web de SmartCare ningún tipo de información de
            identificación personal. Pueden informarnos de cosas tales como el modo en que llegó a
            su/nuestra página web, si ya ha visitado la web antes, cuánto tiempo pasa en ella y qué
            páginas ha visitado en el sitio. Nos proporcionan además información general acerca de la
            ubicación geográfica de un usuario determinado. Esta información nos ayuda a entender el
            modo en que las personas utilizan nuestro sitio web y nuestros productos, y nos proporciona
            también información sobre el tipo de experiencia que las personas tienen en nuestra web y
            con nuestros productos. Todo ello nos ayuda a comprender cómo mejorar aún más la
            experiencia y el comportamiento de navegación.</p>
            <p class="bp">ga & gid (Google Analytics): Recopila información anónima sobre la navegación de los
            usuarios por el sitio web con el fin de conocer el origen de las visitas y otros datos
            estadísticos similares.</p>
            <p class="bp">Para saber más sobre Google Analytics y su política de privacidad, visite
            <a style="text-decoration: underline;" href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a>. Si opta por no participar del
            seguimiento de Google Analytics cuando utiliza nuestros productos basados en la web,
            visite <a style="text-decoration: underline;" href="http://tools.google.com/dlpage/gaoptout.wt">http://tools.google.com/dlpage/gaoptout.wt</a> (Webtrekk): Recopila información
            anónima sobre la navegación de los usuarios en el sitio web con el fin de conocer el origen
            de las visitas y otros datos estadísticos similares.
            Cookies no exceptuadas</p>
            <p class="bp">Nuestro sitio web utiliza Zopim, un enlace externo, que es un chat en directo utilizado para
            dar soporte online y resolver las dudas de los clientes y usuarios de la web. El proveedor
            es Zopim Technologies Pte Ltd. el cual recoge automáticamente información sobre las
            páginas visitadas, la IP, el tipo de navegador, el idioma, la fecha y la hora. Esta
            información es enviada a los servidores de Zopim cada vez que un usuario visita la web.
            Zopim recoge, almacena y procesa únicamente la información necesaria para proveer y
            mejorar su servicio. Las cookies de Zopim son “_zlcid” quealmacenan el Iddelchat online
            para identificar información a través de visitas y “_zprivacy” que almacenan las
            preferencias del usuario para desactivar el chat on-line y dejar de utilizar cookies</p>
        </p>

        <h2 class="body-title">4. CARACTERÍSTICAS DE MEDIOS SOCIALES</h2>
        <p class="body-paragraph">Nuestro sitio web utiliza las características de los medios sociales (“Características
            sociales”) proporcionadas por empresas y servicios como Facebook, Twitter y Google+ para
            permitirle compartir información a través de estos canales. Las funciones sociales están
            identificadas en nuestro sitio web con los logotipos de sus respectivas empresas. Estos
            archivos cookies son propiedad de terceras partes quienes los controlan, por lo que estas
            terceras partes son responsables de su uso (y no la web de SmartCare). Por ese motivo no
            podemos garantizar que hayamos enumerado todas las cookies que puede recibir de las
            terceras partes, ya que estas pueden modificarlas en todo momento para adaptarlas a sus
            necesidades</p>
        <p class="body-paragraph">Cuando visite una página de la web de SmartCare que incluya características sociales,
            su
            navegador establecerá una conexión directa con los servidores de la red social
            correspondiente. Las características sociales les proporcionan a las redes sociales la
            información a la que accedió en la web de la plataforma SmartCare y, si inició sesión en la
            red social, su visita puede quedar registrada en su cuenta de ese servicio. Por ejemplo, si
            hace clic en el botón “Me gusta” de Facebook, esa información es transmitida desde su
            navegador directamente a Facebook y almacenada ahí. Existe la posibilidad de que una
            función social pueda transmitir su dirección IP a la red social aunque no haya iniciado sesión
            en la red social, ni haya clicado en una función social en la web de la plataforma SmartCare </p>
        <p class="body-paragraph">Para obtener más información sobre el objetivo y alcance del procesamiento de datos
            por
            parte de la red social, así como sus opciones para proteger su privacidad, consulte la política
            de privacidad en el sitio web de la red social correspondiente. A continuación hemos puesto
            a su disposición los enlaces de las redes sociales más utilizadas para facilitarle la consulta.
        </p>
        <p style="text-align: left;" class="body-paragraph">
            Facebook: <a style="text-decoration: underline;" href="https://www.facebook.com/about/privacy">https://www.facebook.com/about/privacy</a>
            <br>
            Google+: <a style="text-decoration: underline;" href="http://www.google.com/policies/privacy">http://www.google.com/policies/privacy</a>
            <br>
            Twitter: <a style="text-decoration: underline;" href="http://twitter.com/privacy">http://twitter.com/privacy</a>
        </p>

        <h2 class="body-title">5. ADMINISTRACIÓN DE LAS COOKIES</h2>
        <p class="body-paragraph">
            Puedes permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la
            configuración de las opciones del navegador instalado en su ordenador.
            <br style="height: 20px;">
            - Puedes obtener más información sobre el navegador Firefox desde
            aquí:
            <a style="text-decoration: underline;" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-webrastrearpreferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-quelos-sitios-we">https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-webrastrearpreferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-quelos-sitios-we</a>
            <br style="height: 20px;">
            - Puedes obtener más información sobre el navegador Chrome desde
            <a style="text-decoration: underline;" href="aquí: https://support.google.com/chrome/answer/95647?hl=es">aquí: https://support.google.com/chrome/answer/95647?hl=es</a>
            <br>
            - Puedes obtener más información sobre el navegador Internet Explorer desde
            aquí: <a style="text-decoration: underline;" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorerdelete-manage-cookies">https://support.microsoft.com/es-es/help/17442/windows-internet-explorerdelete-manage-cookies</a>
            <br style="height: 20px;">
            - Puedes obtener más información sobre el navegador Safari desde
            aquí: <a style="text-decoration: underline;" href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES">https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES</a>
            <br style="height: 20px;">
            - Puedes obtener más información sobre el navegador Opera desde
            aquí: <a style="text-decoration: underline;" href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a>
        </p>
    </div>
</section>