<!-- Checkout Quantity Section -->
<section style="padding: 20rem 10rem;" class="checkout-container">
    <div class="checkout-box">
        <h2 class="checkout-h2">Politica De Cookies</h2>
        <p>Contents Here</p>
    </div>
</section>
