<!-- Checkout Quantity Section -->
<section style="padding: 20rem 10rem;" class="checkout-container">
    <div class="checkout-box">
        <h2 class="checkout-h2">POLITICA DE PRIVACIDAD Y PROTECCIÓN DE
            DATOS</h2>

        <h2 class="body-title">Responsable del tratamiento de los datos</h2>

        <p class="body-paragraph">El responsable del tratamiento de los datos es SmartCare Nutrition S.L en adelante
            "SmartCare” - CIF B56124852. Los datos de contacto de SmartCare son los siguientes:
        <ul style="text-align: left; font-size: 1.5rem">
            <li>Dirección postal: Calle Decano Fco Rojas Folgado N10 14006 Córdoba</li>
            <li>El usuario puede contactar con nosotros mediante correo electrónico a
                hola@smartcarenutrition.es</li>
        </ul>
        </p>

        <h2 class="body-title">¿Con qué finalidad tratamos los datos?</h2>
        <p class="body-paragraph">En SmartCare trataremos los datos en conformidad con lo dispuesto en las normativas
            vigentes en protección de datos personales, según el Reglamento (UE) 2016/679 de 27
            de abril de 2016 (GDPR), de forma manual y/o automatizada con los siguientes fines:

        <ul style="text-align: left; font-size: 1.5rem">
            <li>Gestionar y desarrollar el registro en la WEB/APP/BLOG. El registro supondrá la elaboración
                de perfiles de la navegación del usuario en la WEB/APP/BLOG. Dicho perfilado consiste en
                el uso de los datos personales del cliente y de la información de su navegación tal como los
                productos vistos o añadidos a la cesta, las secciones de la WEB/APP/BLOG visitadas, la
                ubicación para evaluar sus preferencias y/o intereses personales con el objetivo de ofrecer
                los contenidos de la WEB/APP/BLOG, las ofertas, los servicios y los productos adecuados a
                cada perfil.</li>
            <li>Gestionar y desarrollar la compra online. Usamos la información personal del cliente para
                procesar y entregar el pedido, e informarle por correo electrónico y/o SMS de la situación
                del mismo.
            </li>
            <li>
                Dar respuesta a las consultas, dudas planteadas o cualquier petición que sea realizada por
                el usuario en la WEB/APP/BLOG de SmartCare, en cualquiera de las formas de contacto que
                se ponen a su disposición.
            </li>

            <li>Enviar ofertas, promociones, regalos, sorteos y noticias de valor a través de mail, app, vía
                postal, teléfono y/o SMS, previo consentimiento y salvo que se indique lo contrario o el
                usuario se oponga o revoque su consentimiento. Estas comunicaciones serán realizadas por
                SmartCare, y estarán relacionadas con sus productos y servicios, o por sus colaboradores o
                proveedores con los que haya alcanzado algún acuerdo. El envío de esta información
                supondrá la elaboración de perfiles de los usuarios que consiste en utilizar los datos
                personales, el histórico de sus compras si procede, así como la información de navegación
                en la WEB/APP/BLOG para evaluar ciertos aspectos.
            </li>
            <li>Gestionar el servicio de alertas para cuando un determinado producto esté disponible en la
                WEB/APP/BLOG.</li>
            <li>Dar cumplimiento a las obligaciones legalmente establecidas</li>
        </ul>
        </p>

        <h2 class="body-title">¿Qué tipo de información recopilamos?</h2>
        <p class="body-paragraph">SmartCare puede recopilar en su página WEB/APP/BLOG, la siguiente información
            personal de los usuarios a través de los formularios correspondientes: nombre, dirección
            de correo electrónico, dirección postal, número de teléfono, fecha de nacimiento, género
            y tarjeta de crédito (PAN+CVV2) en cumplimiento de los estándares PCI DSS o
            número de cuenta (facilitado por el cliente en caso de devolución) cuando el usuario
            visita la WEB/APP/BLOG, se registra, realiza un pedido online, se pone en contacto
            con SmartCare, se inscribe al blog, nos realiza consultas y/o participa en promociones o
            sorteos.
            Además, SmartCare recopila toda la información relativa a su navegación en la
            WEB/APP/BLOG y su interacción con la marca.
            Todos los datos personales que recopila SmartCare proceden del interesado, a excepción
            de los datos de contacto que nos pueden ser facilitados por amigos o familiares:
            - Compras u otros servicios de la web
            - Programa de referidos</p>

        <h2 class="body-title">¿Por cuánto tiempo conservamos los datos?</h2>
        <p class="body-paragraph">SmartCare guardará los datos mientras dure la relación contractual/comercial
            establecida y haya un interés mutuo, y con posterioridad, durante los plazos establecidos
            legalmente para la resolución de posibles responsabilidades derivadas de la misma. En
            caso de solicitar la supresión de los datos, estos se eliminarán con las medidas de
            seguridad adecuadas para garantizar la seudonimización de los datos o la destrucción
            total de los mismos.
            <br>
            Los datos relativos a pagos y facturación se conservarán durante los plazos establecidos
            en la normativa correspondiente en materia económico/contable y fiscal.
        </p>

        <h2 class="body-title">¿Qué nos legitima para el tratamiento de los datos?</h2>
        <p class="body-paragraph">
            Ejecución del contrato
            <br>
            La base legal del tratamiento de los datos personales del interesado que se recogen es la
            ejecución del contrato de compraventa. En este sentido, el interesado está obligado a
            facilitar los datos que sean necesarios para su ejecución. En caso de no facilitarnos estos
            datos, no será posible la realización de la compraventa.
            Obligaciones legales <br> <br>
            La gestión y emisión de la factura de venta se basa en la obligación legal de SmartCare
            en su relación con los clientes.
            Consentimiento <br> <br>
            En relación con las siguientes finalidades la base legal del tratamiento de los datos
            personales del interesado será el consentimiento del mismo, en caso de haber sido
            prestado: <br><br>
            - Gestión del registro en la WEB/APP/BLOG <br> <br>
            - Gestión de la suscripción a nuestra newsletter, el envío del formulario de contacto,
            cualquier tipo de consulta a través de los medios disponibles o el envío de su
            currículum. La base legitimadora del tratamiento es el consentimiento del interesado
            que voluntariamente se suscribe. <br> <br>
            - Gestión del servicio de alertas de disponibilidad de productos en la WEB/APP/BLOG. <br> <br>
            - Respuesta al ejercicio de derechos ARCO, consultas y reclamaciones por parte del
            interesado. <br> <br>

            - Gestión del envío de información sobre promociones exclusivas, últimas novedades e
            información personalizada adaptada al perfil del interesado. <br> <br>
            La retirada del consentimiento de estos tratamientos por parte del interesado no
            condicionará la ejecución del contrato de compraventa celebrado entre éste y
            SmartCare. <br> <br>

            Interés legítimo <br>
            En relación con las siguientes finalidades, la base legal del tratamiento de los datos
            personales del interesado será el interés legítimo de SmartCare: <br>
            - La elaboración de perfiles mediante la navegación en la WEB/APP/BLOG por parte
            de un usuario registrado en la misma, así como de todos aquellos usuarios que nos
            hayan facilitado sus datos para cualquier otra finalidad. <br>
            La elaboración de perfiles para el envío de información sobre promociones exclusivas,
            últimas novedades e información personalizada adaptada al perfil del interesado. <br> <br>
            - El envío de encuestas de satisfacción sobre los productos adquiridos o servicios usados
            por los clientes de SmartCare para solicitar su opinión y poder mejorarlos. <br>

            <br>Nuestro interés legítimo consiste en poder garantizar que nuestra WEB/APP/BLOG
            permanece segura, así como para ayudar a SmartCare a comprender las necesidades,
            expectativas y el nivel de satisfacción de los usuarios y, por lo tanto, mejorar los
            servicios, productos y marcas. Todas estas acciones se realizan con el fin de mejorar el
            nivel de satisfacción del cliente y asegurar una experiencia única de navegación y
            compra.
        </p>

        <h2 class="body-title">¿A qué destinatarios podemos comunicar los datos?</h2>
        <p class="body-paragraph">SmartCare no vende en ningún caso datos de clientes a terceros. Sus datos de contacto
            serán cedidos a empresas y proveedores que prestan servicios a SmartCare (empresas de
            transporte para la gestión del envío, asesorias fiscales para el tratamiento fiscal, los
            bancos y entidades financieras para el cobro de los servicios ofrecidos, empresas de
            alojamiento de nuestros servidores y de bases de datos para el tratamiento de las
            comunicaciones online y agencias para fines publicitarios). Todas ellas tienen
            regularizado con nosotros el acceso a esos datos para el fin exclusivamente aquí
            descrito.</p>
        <p class="body-paragraph">Administraciones y Organismos Públicos cuando así lo exija la normativa fiscal,
            laboral, de Seguridad Social o cualquier otra aplicable</p>
        <p class="body-paragraph">Los datos serán comunicados en los supuestos en que sea necesario para el
            cumplimiento de la relación contractual establecida y en los supuestos previstos
            legalmente. No se prevén transferencias internacionales de datos a destinatarios
            ubicados en países fuera del Espacio Económico Europeo, incluyendo países que
            proporcionen un nivel de protección de datos equivalente al de la Unión Europea</p>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de acceso</p>
            <p class="body-paragraph">Tiene derecho a obtener confirmación sobre si en SmartCare estamos tratando
                datos personales que le conciernen, o no, así como a acceder a los datos
                personales que SmartCare disponga.
            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de
                rectificación</p>
            <p class="body-paragraph">Tiene derecho a solicitar que SmartCare rectifique los datos personales cuando
                sean inexactos o que se completen cuando sean incompletos.
            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de
                supresión/derecho al
                olvido</p>
            <p class="body-paragraph">Puede solicitarnos que los datos personales sean suprimidos cuando, entre otros
                motivos, los datos ya no sean necesarios para los fines que fueron recogidos.
            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de limitación</p>
            <p class="body-paragraph">Tiene derecho a solicitar la limitación del tratamiento de los datos, en cuyo caso
                únicamente los conservaremos para el ejercicio o defensa de reclamaciones.
            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de
                portabilidad</p>
            <p class="body-paragraph">Tiene derecho a recibir los datos personales en un formato estructurado, de uso
                común y lectura mecánica, y a transmitirlos a otro responsable cuando el
                tratamiento se base en el consentimiento o en un contrato, y se efectúe por
                medios automatizados.

            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho de oposición
            </p>
            <p class="body-paragraph">Puede oponerse que los datos personales sean objeto de un tratamiento basado
                en el interés público o legítimo perseguidos por SmartCare, incluida la
                elaboración de perfiles. En tal caso, SmartCare dejará de tratar los datos, salvo
                por motivos legítimos imperiosos o el ejercicio o defensa de posibles
                reclamaciones.
            </p>
        </div>

        <div class="p-wrap">
            <p class="body-paragraph">Derecho a presentar
                una reclamación
            </p>
            <p class="body-paragraph">Tiene derecho a presentar una reclamación ante la Agencia Española de
                Protección de Datos.
            </p>
        </div>

        <h2 class="body-title">¿Cómo protege SmartCare los datos personales?</h2>
        <p class="body-paragraph">La WEB/APP/BLOG utiliza técnicas de seguridad de la información tales como
            firewalls, procedimientos de control de acceso y mecanismos criptográficos, todo ello
            con el objetivo de evitar el acceso no autorizado a los datos y garantizar la
            Derecho de acceso
            Tiene derecho a obtener confirmación sobre si en SmartCare estamos tratando
            datos personales que le conciernen, o no, así como a acceder a los datos
            personales que SmartCare disponga.
            Derecho de
            rectificación
            Tiene derecho a solicitar que SmartCare rectifique los datos personales cuando
            sean inexactos o que se completen cuando sean incompletos.
            Derecho de
            supresión/derecho al
            olvido
            Puede solicitarnos que los datos personales sean suprimidos cuando, entre otros
            motivos, los datos ya no sean necesarios para los fines que fueron recogidos.
            Derecho de limitación Tiene derecho a solicitar la limitación del tratamiento de los datos, en cuyo caso
            únicamente los conservaremos para el ejercicio o defensa de reclamaciones.
            Derecho de
            portabilidad
            Tiene derecho a recibir los datos personales en un formato estructurado, de uso
            común y lectura mecánica, y a transmitirlos a otro responsable cuando el
            tratamiento se base en el consentimiento o en un contrato, y se efectúe por
            medios automatizados.
            Derecho de oposición
            Puede oponerse que los datos personales sean objeto de un tratamiento basado
            en el interés público o legítimo perseguidos por SmartCare, incluida la
            elaboración de perfiles. En tal caso, SmartCare dejará de tratar los datos, salvo
            por motivos legítimos imperiosos o el ejercicio o defensa de posibles
            reclamaciones.
            Derecho a presentar
            una reclamación
            Tiene derecho a presentar una reclamación ante la Agencia Española de
            Protección de Datos.
            confidencialidad de los mismos. Para lograr estos fines, el usuario acepta que
            Nutriienda obtenga datos a efectos de la correspondiente autenticación de los controles
            de acceso

            <br>

            Adicionalmente, cualquier transacción realizada a través de la WEB/APP se lleva a
            cabo a través de sistemas de pago seguros. Los datos confidenciales de pago son
            transmitidos directamente y de forma encriptada (SSL) a la entidad correspondiente.

            <br>

            SmartCare manifiesta que ha adoptado todas las medidas técnicas y de organización
            necesarias para garantizar la seguridad e integridad de los datos de carácter personal que
            trate, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no
            autorizados.
        </p>

        <h2 class="body-title">¿Cuáles son los derechos del usuario en relación con los datos personales?</h2>

        <p class="body-paragraph">Corresponden los siguientes derechos que pueden ser ejercitados a través de la
            dirección
            de correo electrónico hola@smartcarenutrition.es

            <br>
            Para tramitar la solicitud, podremos pedirle que acredite su identidad.
            Última revisión: 24 de agosto de 2020.
        </p>
    </div>
</section>