<!-- Checkout Quantity Section -->
<section class="checkout-container">
    <div class="checkout-box">
        <h2 class="checkout-h2">Enhorabuena! Su orden ha sido puesta!</h2>
        <h3 class="checkout-h3">Paypal Payment ID - {{paypalPayID}}</h3>
        <h3 class="checkout-h3">Order ID - {{orderID}}</h3>

        <h3 class="my-orders-text">"Ve a mis pedidos e inicia sesión para ver el estado de tu pedido"</h3>




       
        <a href="/"><button id="next-button" class="checkout-button">Retour à la maison</button></a>
        
    </div>
</section>


