<header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="/admin" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Alpha</strong><strong>Dashboard</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">A</strong><strong>D</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          
            
            <!-- Languages dropdown    -->
            <span class="badge badge-primary clock"> <svg class="clock-icon" viewBox="0 0 24 24" width="15" height="15" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> Server Time: {{generateTime date 'LT'}}</span>
            {{!-- <button class="btn btn-primary">Server Time: {{generateTime date 'LT'}}</button> --}}
            <!-- Log out               -->
            <div class="list-inline-item logout"><a id="logout" href="/admin/log-oUt" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>



    
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="/img/logo-white.png" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">Smart Care</h1>
            <p>Admin</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li class="active"><a href="index.html"> <i class="icon-home"></i>Home </a></li>
          <li><a href="/admin/orders"> <i class="icon-grid"></i>Orders </a></li>
          <li><a href="/admin/coupons"> <i class="fa fa-barcode"></i>Coupons </a></li>
        </ul>
      </nav>
      <!-- Sidebar Navigation end-->